<div class="container">
  <h1 class="title">Simulare Repartizare Licee</h1>

  <div class="card-container">
    <mat-card class="option-card" (click)="navigateTo('repartizare')">
      <div class="card-text">
        <mat-card-title>Repartizare Licee</mat-card-title>
        <mat-card-content>
          Simulează repartizarea elevilor în liceele din Brașov.
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="option-card" (click)="navigateTo('bac')">
      <div class="card-text">
        <mat-card-title>Statistici Bac 2025</mat-card-title>
        <mat-card-content>
          Explorează datele și graficele examenului de Bacalaureat 2025.
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
