<div class="container">
  <h1 class="title">{{ Constants.HOME_PAGE.TITLE }}</h1>

  <div class="card-container">
    <mat-card class="option-card" (click)="navigateTo('repartizare')">
      <div class="card-text">
        <mat-card-title>{{ Constants.HOME_PAGE.EN_OPTION_TITLE }}</mat-card-title>
        <mat-card-content>{{ Constants.HOME_PAGE.EN_OPTION_SUBTITLE }}</mat-card-content>
      </div>
    </mat-card>

    <mat-card class="option-card" (click)="navigateTo('bac')">
      <div class="card-text">
        <mat-card-title>{{ Constants.HOME_PAGE.BAC_OPTION_TITLE }}</mat-card-title>
        <mat-card-content>{{ Constants.HOME_PAGE.BAC_OPTION_SUBTITLE }}</mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
